header {
    color: white;
}

main {
    min-height: 80vh;
}

.sidebar, #map {
    height: 80vh;
}

@media only screen and (max-width: 576px) {
    .sidebar {
        height: auto;
        margin-bottom: 20px;
    }
}