<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <!-- welcom/greatings/quotes/brief intro to the wbsite -->
    <main>

        <!-- video coferencing here -->
        <div></div>


        <!-- side info column/chat here -->
        <div></div>


    </main>

    <footer>
        <!-- our names/ team name -->
    </footer>

</body>

</html>